header {
    margin: 1.5rem;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 498px;

    border: 1px solid #ffffff2d;
    border-radius: 30px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.fa-chevron-right {
    color: #A594FD;
}